{% extends "comum/template.html" %}
{% block conteudo %}
<div class="container">  
    <h1 class="text-center"> Cadastro de Conta Bancária </h1><hr>
    <form class="form row g-3 needs-validation" action="/update" method="post" class="needs-validation">
        <input type="hidden" name="index" id="index" value="{{index}}">
        <div class="form-floating col-md-8">
            <input type="text" class="form-control" name="titular" id="titular" value="{{conta.titular}}" readonly required>
            <label for="titular"> Nome do Titular </label>
        </div><br>
        <div class="form-floating col-md-4">
            <input type="number" class="form-control" name="numero" id="numero" value="{{conta.numero}}" readonly required>
            <label for="numero"> Número da Conta </label>
        </div><br>
        <div class="form-floating col-md-6">
            <input type="number" class="form-control" name="saldo" id="saldo" value="{{conta.saldo}}" required>
            <label for="saldo"> Saldo </label>
        </div><br>
        <div class="form-floating col-md-6">
            <input type="number" class="form-control" name="chequeEspecial" id="chequeEspecial" value="{{conta.chequeEspecial}}" required>
            <label for="chequeEspecial"> Cheque Especial </label>
        </div><br>
        <div class="form-floating col-md-6">
            <input type="text" class="form-control" name="senha" id="senha" value="{{conta.senha}}" required>
            <label for="senha"> Senha </label>
        </div><br>
        <div class="form-floating col-md-6">
            <select name="cargo" id="cargo" class="form-select" required>
                <option value="adm" {% if conta.cargo == "adm" %} selected {% endif %}> Administrador </option>
                <option value="user" {% if conta.cargo == "user" %}selected{% endif %}> Usuário </option>
            </select>
        </div><br>
        <div class="text-center">
            <button class="btn btn-success" type="submit"> Alterar </button>
            <a class="btn btn-primary" href="/contas"> Cancelar </a>
        </div>
    </form>
</div>
{% endblock %}